<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Ponto Eletrônico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <img src="assets/img/logo.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto; margin-top:20px;" />

    <ion-row>
      <ion-col>
        <p style="margin-top:20px;padding:0 10px;">
          Selecione os itens abaixo para bater o ponto do funcionário.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Obra</ion-label>
          <ion-select placeholder="Selecione">
            <ion-select-option value="1">Florença 1</ion-select-option>
            <ion-select-option value="2">Florença 2</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Tipo</ion-label>
          <ion-select placeholder="Selecione">
            <ion-select-option value="0">Entrada</ion-select-option>
            <ion-select-option value="1">Saída</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Funcionário</ion-label>
          <ion-select placeholder="Selecione">
            <ion-select-option value="1">Rodrigo</ion-select-option>
            <ion-select-option value="2">Raulino</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Função</ion-label>
          <ion-select placeholder="Selecione">
            <ion-select-option value="1">Assentar tijolo</ion-select-option>
            <ion-select-option value="2">Limpeza de obra</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="button" color="medium" expand="block">Tirar foto</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Registrar ponto</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>