<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Login - Raum Empreendimentos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <img src="assets/img/logo.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto; margin-top:20px;" />

    <ion-row>
      <ion-col>
        <p style="margin-top:20px;padding:0 10px;">
          Seja bem-vindo ao sistema de administração da <strong>Raum Empreendimentos</strong>! Para iniciar, por favor, faça seu login na plataforma.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item lines="full">
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" required></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Entrar</ion-button>
      </ion-col>
    </ion-row>
  </form>
</ion-content>