<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form>
    <img src="assets/img/logo.png" style="display:block;width:30%;height:auto;margin-left:auto;margin-right:auto; margin-top:20px;" />

    <ion-row>
      <ion-col>
        <p style="margin-top:20px;padding:0 10px;">
          Selecione o que deseja fazer abaixo.
        </p>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Ponto eletrônico</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Pedido de materiais</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="danger" expand="block">Diário de obras</ion-button>
      </ion-col>
    </ion-row>


  </form>
</ion-content>